.notification-item.unseen {
  background-color: #f0f0f0;
}

.notification-item.seen {
  background-color: #ffffff;
  color: #999999;
}

.notification-icon {
  cursor: pointer;
  margin-left: 1400px;
}

.notification-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  font-size: 12px;
  top: -10px;
  right: -10px;
  margin-left: 10px;

}

.notification-container {
  position: relative; 
  display: inline-block;
  margin-left: 10px;
}

.notifications-dropdown {
  display: block ;
  visibility: visible;
  opacity: 1;
  position: absolute; /* Ensure it's positioned correctly */
  top: 30px; 
  right: 0;
  background-color: white;
  border: 1px solid black; /* Make borders visible for debugging */
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}



.notification-item {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-message {
  margin-left: 10px;
}

.notification-item:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
